.toggleContainer {
    align-items: center;
    display: inline-flex;
    gap: 8px;
}

.toggleContainer label {
    font-size: 0.9rem;
}

.toggle {
    border-radius: 0.75rem;
    cursor: pointer;
    display: block;
    height: 1.5rem;
    margin: 0;
    position: relative;
    transition: background-image 0.1s ease-in-out, color 0.1s ease-in-out, filter 0.1s ease-in-out;
    width: 2.5rem;
}

.toggle:hover {
    filter: brightness(1.1);
}

.togglePin {
    border-radius: 0.75rem;
    height: 1.5rem;
    position: absolute;
    top: 0;
    transition: left 0.1s ease-in-out;
    width: 1.5rem;
}

.toggleActive .togglePin {
    left: 0;
}

.toggleInactive .togglePin {
    left: 1rem; 
}